.form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.field {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.field > label {
  width: 32%;
  text-align: start;
  padding: 0 3px 0 0;
}

.field > input {
  width: 60%;
  padding: 5px;
}

.field > span {
  width: 100%;
  text-align: start;
  margin: 0 0 0 20%;
  color: red;
}

.field > span::before {
  content: 'âŒ ';
}

.actions {
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
}
